* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-title {
  text-align: center;
  color: #00a0ff;
}
.list {
  margin: 20px 400px;
}

.js-list--data {
  display: flex;
  align-items: center;
  outline: solid 1px #eae8e8;
  padding: 15px;
}
.js-list--image {
  width: 100px;
  height: 100px;
}
.title {
  font-size: 16px;
}
.comment {
  padding: 15px 70px;
  font-size: 20px;
}

.js-list--background {
  background-color: aqua;
}
