body {
  display: flex;
  text-align: center;
  font-weight: bold;
}
.section-a {
  background-color: rgb(168, 124, 209);
  width: 50%;
  padding-top: 50%;
}
.section-b {
  background-color: aqua;
  width: 50%;
  padding-top: 50%;
}

.hidden {
  display: none;
}
.change-color {
  background-color: chartreuse;
}
